In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
sta = pd.read_csv('data/card.csv', encoding= 'euc-kr')

In [66]:
sta

           사용일자       노선명        역명  승차총승객수  하차총승객수      등록일자
0      20191001       9호선        동작    2233    1838  20191004
1      20191001     우이신설선       신설동    2471    2524  20191004
2      20191001     우이신설선        보문    1814    1848  20191004
3      20191001     우이신설선    성신여대입구    4063    4502  20191004
4      20191001     우이신설선        정릉    5195    4718  20191004
...         ...       ...       ...     ...     ...       ...
18315  20191031  공항철도 1호선        운서    8098    8278  20191103
18316  20191031  공항철도 1호선    공항화물청사    2804    3153  20191103
18317  20191031  공항철도 1호선  인천공항1터미널   16879   16625  20191103
18318  20191031  9호선2~3단계        언주   10780   10980  20191103
18319  20191031     우이신설선       신설동    2524    2536  20191103

[18320 rows x 6 columns]

In [4]:
plt.rc('font', family='NanumGothic')
plt.rcParams['font.family'] = 'NanumGothic'
plt.rcParams['axes.unicode_minus']=False

In [62]:
sta1 = round((sum(sta[sta['역명'].isin(['용산', '서빙고', '한남', '남영', '서울', '숙대입구', '삼각지', '신용산', '이촌', '효창공원앞', '삼각지', '녹사평', '이태원', '한강진'
])].iloc[:,4]))/31,0)

In [63]:
sta1

174620.0